*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1); 
    position: sticky;
    top: 0;
    background-color: #fff;
}

nav ul{
    display: none;
    list-style: none;
    align-items: center;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: black;
}

nav a{
    padding: 8px;
}

li a{
    color: indianred;
}

.Logo{
    margin-left: 10px;
    font-size: 1.4em;
}

nav a:hover{
    border: 1px solid indianred;
}
#menu{
    padding: 10px;
    display: none;

}

div.banner-image{
    background-image: url('resources/download\ \(1\).jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#banner{
    height: calc(100vh - 58px);
}

.banner-image h2{
    color: #fff;
    font-size: 2.2em;
}

.banner-image p{
    color: #fff;
    font-size: 2.2em;
    font-weight: 700;
}

.banner-image p span{
    color: rgb(231, 49, 8);
}

.btn-order{
    color: indianred;
    padding: 12px;
    background-color: #fff;
    width: 150px;
    text-align: center;
    margin-top: 30px;
    border: none;
    border-radius: 17px;
}
.btn-order:hover{
    background-color: indianred;
    color: #fff;
}

#Featured-pizza h2{
    text-align: center;
    font-size: 2.4em;
    margin: 10px 10px 10px 10px;
    padding: 30px;
}

div.container-pizza{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

div.container-pizza img{
    height: 450px;
    width: 320px;
}

div.container-pizza h3{
    text-align: center;
    font-size: 1.4em;
    padding: 16px;
}

div.container-pizza p{
    text-align: center;
    font-size: 1.4em;
    padding: 16px;
}

#Featured-pizza .button {
    display: flex;
    justify-content: center;
    align-items: center;
}
#Featured-pizza .btn-View-Product{
    color: #fff;
    padding: 12px;
    background-color: indianred;
    width: 150px;
    text-align: center;
    margin-top: 30px;
    border: none;
    border-radius: 17px;
}

#Featured-pizza .btn-View-Product:hover{
    background-color: #f13d3d;
    color: #fff;
}

#customer-feedback div.horizontal-line{
    border-top: 1px solid black;
    margin: 100px;
}
#customer-feedback h2{
    text-align: center;
    font-size: 2.4em;
    margin: 10px;
    padding: 30px;
}

div.feedback{
    width: 100%;
    position: relative;
    padding: 40px;
    margin-bottom: 100px;
}


div.feedback .comm1{
    min-height: 100px;
    background-color: lightgray;
    float: left;
    margin-left: 30px;
    text-align: center;
    line-height: 70px;
}

div.feedback .comm2{
    min-height: 100px;
    background-color: lightgray;
    float: right;
    margin-right: 30px;
    text-align: center;
    line-height: 70px;
}

div.feedback .clearfix{
    content: "";
    display: table;
    clear: both;
}

footer{
    box-sizing: border-box;
    background-color: gray;
    text-align: center;
    font-size: 1.6em;
}
@media screen and (min-width:768px) {
    #BTNMENU{
        display: none;
    }
    nav ul{
        display: flex;
    }
    #menu{
        display: none;
    }
    div.container-pizza{
        flex-wrap: nowraps ;

    }
}